table.buttons {
    height: 100%; 
    left: 0;
    position: absolute; 
    top: 0; 
    width: 100%;
}
a.button {
    background-color: #333;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: block;
    font: bold 14px verdana;
    margin: 5px auto;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 300px;
}
a.button:hover {
    background-color: black;
}