* {
    box-sizing: border-box;
}
body {
    background-color: white;
    padding-top: 50px;
    padding-left: 350px;
}
.menubar {
    background: linear-gradient(0deg, #111, #333, #111);
    box-shadow: 0 0 10px #111;
    left: 0; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0; 
    top: 0; 
    height: 50px; 
    z-index: 1;
}
.menubar > li {
    float: left;
}
.menubar > li a {
    color: white;
    display: inline-block;
    font: bold 14px verdana;
    padding: 16px 25px;
    text-align: left;
    text-decoration: none;
}
.menubar > li a:hover {
    background: black;
}
.menubar > li > div {
    background-color: #222;
    position: absolute;
    display: none;
}
.menubar > li:hover > div {
    display: inline-block;
}
.menubar > li:hover > a {
    background: black;
}
.menubar > li > div > a {
    display: block;
}
.menubar .selected {
    color: #FFDEAD;
}